**/.terraform.*
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/.terraform/*
**/.terraform
**/hosts
**/ansible/*/vars/*
**/*.pem
**/*.crt
**/db_vars.yaml
**/app_vars.yaml
**/Jenkinsfile
**/prometheus.yml
**/grafana.ini