pipeline {
    agent any

    environment {
        
    }

    stages {
        stage("build") {
            steps {
                
            }
        }
    }
    
    post {
        success {
            echo 'The build was successful'
        }
        failure {
            echo 'The build has failed'
        }
    }
}